@import "tailwindcss";

@layer utilities {
  @keyframes slide-reverse {
    0% {
      transform: translateX(0%);
    }
    100% {
      transform: translateX(-50%);
    }
  }

  .animate-slide-reverse {
    animation: slide-reverse 20s linear infinite;
  }
}
